{$BOAH_DOMAIN} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options nosniff
    Referrer-Policy same-origin
    X-Frame-Options DENY
  }
  request_body {
    max_size 55MB
  }
  handle /api/* {
    reverse_proxy backend:8000
  }
  handle /health/* {
    reverse_proxy backend:8000
  }
  handle {
    reverse_proxy frontend:3000
  }
}
